@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Russo One', Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    align-items: center;
    height: 95vh;
    max-width: 80vw;
    border-radius: 1rem;
    border-style: solid;
    overflow: scroll;
}

.hero-image {
    background-image: url("B.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    
    background-color: rgb(83, 82, 82);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
    background-color: rgba(253, 253, 253, 0.3);
    color: rgb(32, 31, 31);
    font-size: 88px;
    font-weight: 800;
    text-align: center;
}

.description-start {
    padding: 12px;
    font-size: 30px;
    margin-bottom: 25px;
}

.description-tease {
    padding: 12px;
    font-size: 22px;
    margin-bottom: 25px;
}

.input-section {
    box-shadow: 2px 0px 5px 0px rgb(107, 103, 103);
}

form {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    
}

form:last-child {
    padding-bottom: 20px;
}

.form-tease {

    padding: 20px 12px;
    font-size: 22px;
}

/* fieldset {
    border: none;
    display: flex;
    gap: 10%;
} */

label {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px;
    margin: 0 10px 0px 6px;
}

input {
    width: 240px;
    padding: 5px;
    margin: 0 10px 5px 10px;
}


button {
    margin-left: 12px;
    padding: 8px 36px;
    font-size: 16px;
    border-style: none;
    border-radius: 25px;
    background-color: grey;
}

.registrered {
    padding: 12px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: rgb(80, 80, 80);
    font-weight: 800;
    
}


@media screen and (max-width: 850px) {
  
    .main{
      flex-direction: column;
    }

}